extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='nombre') Calle:
      input#name.form-control(type='text', placeholder='Ingrese la calle.' name='nombre' value=(undefined===calle ? '' : calle.nombre))
    button.btn.btn-primary(type='submit') Guardar

  if errors 
    ul
      for error in errors
        li!= error.msg
